# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

startMongo.bat
TODO
backend/node_modules/**
backend/public/imgs/**
1.code-workspace
backend/config/production.env
backend/config/local.env
backend/config/dev.env
localMakefile
caddy-data/caddy/acme/acme-v02.api.letsencrypt.org-directory/users/sid.tyler@tyler-richards.com/sid.tyler.json
caddy-data/caddy/acme/acme-v02.api.letsencrypt.org-directory/users/sid.tyler@tyler-richards.com/sid.tyler.key
caddy-config/caddy/autosave.json
frontend/yarn.lock
.gitignore
frontend/config/**
frontend/config/.env.dev
frontend/config/.env.dev
