@import './variables.scss';
@import './buttons.scss';
@import './content-card.scss';
@import './post.scss';
*{
    margin:0;
    padding:0;
}
body{
    color:$text-color;
    background-color: #F4F4ED;
}

.absolute{
    position: absolute;
}

.page-content{
    width:80%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}
nav ul {
        
    height:5vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    border-top:solid $text-color;
}

header{
    margin-top: 2vh;
}

.navElement{
    margin: auto;
    color:$background-color;
    margin-bottom: 2vh;
    text-align: center;
    text-decoration: none;
    font-size:6vw;
    Link{

        color:$text-color;
        text-decoration: none;
    }

}

h1, h2, h3, h4, h5, h6{
  
  font-family: 'Bebas Neue', cursive;
}

footer {
    margin-top: 2vh;
    h6{
        text-align: center;
        margin: 5px;
        font-size: 12px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;
        font-weight: 300;
        margin-bottom:20px;
    }
}
.page-title{
    font-size: 2.5em;
    text-align: left;
    justify-content: left;
    width:100%;
    border-bottom: solid;
    
  margin-bottom: 10px;
}

.section-heading {
  font-size: 1.5em;
}
.column{
    justify-content: center;
  div{
    margin:1em; 

  }
}
.center-text{
  text-align: center;
}
.page-section{
  margin: 20px;
  width: 100%;
  padding:10px;
}
.row{
  display:flex;
  justify-content: space-between;
  width:100%;
  margin-top: 10px;
  
  overflow: auto;
}
.see-more{
  text-align: right;
  width:100%;
  font-family: 'Bebas Neue';
  font-size:1.5em;
  display:inline-block;
  letter-spacing: 1px;
  color:$accent-color;
}
.see-more:hover{
  color:$accent-hover;
}
.project-title{
  color: $background-color;
opacity: 1;
font: normal normal normal 10vw Bebas Neue;
text-shadow: -1px 1px 0 $text-color,
1px 1px 0 $text-color,
1px -1px 0 $text-color,
-1px -1px 0 $text-color;
}

.infoform{
  width:75%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button{
    width:100%;
    margin: 5px;
  }
  div{
    display: flex;
    justify-content: center;
    padding: 0%;
    box-sizing: border-box;
    width: 100%;


  }
}
.textbox{
  border: 1px solid $text-color;
  opacity: 1;
width: 100%;
  text-align: center;
  margin:5px;
  padding:5px;
  width: 100%;
  font-family: $alt-font;
  background-color: $background-color;
  font-size: 20px;
}

.about-pic{
  border-radius: 50%;
  height: 250px;
  width:250px !important;
  object-fit: cover;
  margin:3vw !important;
  border: 1px solid #4A7856;
}

.page-header{
  font-size: 3.5em;
  margin:2em;
  text-align:center;
}

.input-section{
  
  margin:2em;
}
.center{
  width:100%;
  display:flex;
  justify-content: center;
  
  align-items: center;
  flex-direction: column;
  text-align: center;

}
.underline{
  
  border-bottom: solid;
    
  margin-bottom: 10px;
}
.button{
  padding:10px;
  min-width: 50%;
  background-color: $accent-color;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Bebas Neue';
  font-size:18px;
  color: $background-color;
  border: none;

}

.secondary-button{
  color:$accent-color;
  background-color: $background-color;
  border: 1px solid $accent-color;
}
.alt-font{
  font-family: $alt-font;
}
.ProseMirror {
  margin: 0.75em 0;
  padding: .75em;

  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: $text-color;
    color: $background-color;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0D0D0D, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0D0D0D, 0.1);
    margin: 2rem 0;
  }
}
.box{

  border: 2px solid $text-color;
}