@import './variables.scss';
@import './buttons.scss';
@import './content-card.scss';
*{
    margin:0;
    padding:0;
}
body{
    color:$text-color;
    background-color: #F4F4ED;
}

.absolute{
    position: absolute;
}

.page-content{
    width:80%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}
nav ul {
        
    height:5vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    border-top:solid $text-color;
}

header{
    margin-top: 2vh;
}

.navElement{
    margin: auto;
    color:$background-color;
    margin-bottom: 2vh;
    text-align: center;
    text-decoration: none;
    font-size:2em;
    text-shadow:2px  2px   0 $text-color,
    4px 4px  0 $text-color,
    6px 6px  0 $text-color,
    8px 8px 0  $text-color,
    10px 10px 0  $text-color,
    12px 12px 0  $text-color;
    Link{

        color:$text-color;
        text-decoration: none;
    }

}

h1, h2, h3, h4, h5, h6{
  
  font-family: 'Bebas Neue', cursive;
}

footer {
    margin-top: 2vh;
    h6{
        text-align: center;
        margin: 5px;
        font-size: 12px;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2px;
        font-weight: 300;
        margin-bottom:20px;
    }
}
.page-header{
    font-size: 2.5em;
    text-align: left;
    justify-content: left;
    width:100%;
    border-bottom: solid;
    
  margin-bottom: 10px;
}

.section-heading {
  font-size: 1.5em;
  margin:1vh;
}
.column{
    justify-content: center;
  div{
    margin:1em; 

  }
}
.center-text{
  text-align: center;
}
.page-section{
  margin: 20px;
  width: 100%;
}
.row{
  display:flex;
  justify-content: space-between;
  width:100%;
  margin-top: 10px;
  
  overflow: auto;
}
.see-more{
  text-align: right;
  width:100%;
  font-family: 'Bebas Neue';
  font-size:1.5em;
  display:inline-block;
  letter-spacing: 1px;
  color:$accent-color;
}
.see-more:hover{
  color:$accent-hover;
}
.project-title{
  color: $background-color;
opacity: 1;
font: normal normal normal 10vw Bebas Neue;
text-shadow: -1px 1px 0 $text-color,
1px 1px 0 $text-color,
1px -1px 0 $text-color,
-1px -1px 0 $text-color;
}

.infoform{
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button{
    width:100%;
    margin: 5px;
  }
  div{
    display: flex;
    justify-content: center;
    padding: 0%;
    box-sizing: border-box;
    width: 100%;


  }
}
.textbox{
  border: 1px solid $text-color;
  opacity: 1;
width: 100%;
  text-align: center;
  margin:5px;
  padding:5px;
  width: 100%;
  font-family: $heading-font;
  background-color: $background-color;
  font-size: 20px;
}