@import './variables.scss';
  @media screen and (max-width:992px){
      
.card-text{
    max-height:45%;
}
.button{
    width:50%;
    margin: 10px 0;
}
.funbox{
    width: 100%;
}
.project-title{
    font-size:20vw;
}
.landing{
    
    font-size: 15vw;
    text-shadow:2px  2px   0 $text-color,
4px 4px  0 $text-color,
6px 6px  0 $text-color,
8px 8px 0  $text-color,
10px 10px 0  $text-color,
12px 12px 0  $text-color;
}
}

@media only screen and (max-width: 600px) {
    div{
        flex-direction: column;
    }
    .linebox{
        border: none;
    .side {
        font-size:1em;
        flex-basis:20%;
    }

}
.funbox{
    border:none;
}
.landing{
    
    font-size: 15vw;
}

.page-section{
    margin: 5px 0;
    width:100%;
    padding: 0px;
}
.content-card{
    margin:0;
    padding:2em;
}
.page-header{
    width:80%;
}

.infoform{
    width:100%;
}
  }
