@import './variables.scss';

.page-content{
    justify-content: space-around;
    a{
        text-decoration: none; 
        font-weight: 600;
    }
    .post-section{
        width: 80%;
        margin: 5px;
        .row{
            justify-content: space-around;
        }
    }
}
