@import './variables.scss';

.page-content{
    justify-content: space-around;
    a{
        text-decoration: none; 
        font-weight: 600;
    }
    .post-section{
        width: 80%;
        margin: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
        .row{
            justify-content: space-around;
        }

  p{
    margin-bottom: 5px;
  }
    }
}
