$background-color: #F4F4ED;
$text-color:#362C28;
$primary-color:#FFFFFF;
$secondary-color:#8bb83a;
$third-color:#fd8311;
$fourth-color:#ff6ae5;
$fifth-color:#84254a;
$sixth-color:#4a6855;
$seventh-color:#0094fb;